.inside{
  /* display: block; */
  /*padding-left: 50px;
  margin-left: 450px;*/
  /* width: 300px; */
  padding-left: 25px;
  padding-right: 25px;
  /* background-color: whitesmoke; */
  /* cursor: pointer; */
}

.container123{
  background-color: rgba(239, 116, 116, 1);
  padding-top: 75px;
  /* border: 2px solid red; */
  border-radius: 50px;
  box-sizing: 45px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 80px;
  margin-bottom: 105px;


}
.message{
  /* display: block; */
  align-items: center;
  padding-left: 50px;
  color: indigo;
  /* background-color: blanchedalmond; */
}
#b1{
  justify-content: right;
  background-color: black;
  
}
.submit{
    align-items: center;
    justify-self: center;
    padding-left: 150px;
    padding-top: 15px;
}
.container123:hover{
  box-shadow: 0 0 50px 0px rgb(191, 101, 191);
  transition: 0.4s;
}
#b1:hover{
  box-shadow: 0 0 20px 0px rgb(78, 12, 12);
  transition: 0.4s;
  scale: 1.2;
}
.opcurse{
  cursor:pointer;
}
.outp{
  padding-top: 30px;
  color: indigo;
  cursor:pointer;
}
.outp:hover{
  
}
